<h1>New Cart</h1>
<%= form_with(model: @cart, local: true) do |f| %>
  <div class='field'>
    <%= f.label :total %>
    <%= f.number_field :total, min: 0, step: 0.01 %>
  </div>
  <%= f.submit %>
<% end %>